@import '../../styles/settings';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.itemWrap {
    flex: 1;
    width: 100%;
    background-color: #fff;
}
.item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: left;
}
