@import '../../styles/settings';

$radioIcon-color-normal: $color-text1-2;
$radioIcon-color-active: $color-brand1-6;
$radioIcon-color-disabled: $color-text1-1;
$item-inline-padding-r: 8px;
$item-inline-bgColor-normal: $color-fill1-1;
$item-inline-bgColor-active: $color-brand1-1;
$item-inline-radius: $corner-1;
$item-inline-min-width: 82px;
$item-inline-height: 32px;
$item-min-height: 48px;
$radioIcon-zIndex: 999;

.radioGroup {
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    &.inline {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-left: -$item-inline-padding-r;
        .radioItem {
            flex: 1;
            text-align: center;
            justify-content: center;
            height: $item-inline-height;
            min-height: auto;
            min-width: $item-inline-min-width;
            margin-left: $item-inline-padding-r;
            background-color: $item-inline-bgColor-normal;
            border-radius: $item-inline-radius;
            cursor: pointer;
            &.active {
                background-color: $item-inline-bgColor-active;
            }
        }
        .radioChecker {
            display: none;
        }
    }
}
.radioChecker {
    position: absolute;
    top: 50%;
    z-index: $radioIcon-zIndex;
    color: $radioIcon-color-normal;
    transform: translateY(-50%);
    cursor: pointer;
    .single {
        display: none;
    }
}

.radioItem {
    position: relative;
    display: flex;
    width: 100%;
    min-height: $item-min-height;
    align-items: center;
    user-select: none;
    font-size: $font-size-body-2;

    &.right {
        .radioChecker {
            left: auto;
            right: percentage(24 / 375);
        }
    }
    &.left {
        padding-left: 28px;
        .radioChecker {
            left: 0;
            right: auto;
        }
    }
    input[type='radio'],
    input[type='checkbox'] {
        &:checked {
            + .radioChecker {
                color: $radioIcon-color-active;
                i::before,
                .radioIcon::before {
                    color: $radioIcon-color-active;
                }
                .single {
                    display: block;
                }
            }
        }
        &[disabled] {
            &:checked {
                color: $radioIcon-color-disabled;
            }

            + .radioChecker {
                color: $radioIcon-color-disabled;
                i::before,
                .radioIcon::before {
                    color: $radioIcon-color-disabled;
                }
            }
        }
    }
}
