@import '../../styles/settings';

.whiteSpace {
    flex-shrink: 0;
    height: $h-spacing-lg;
    &.noFirst:first-child,
    &.noLast:last-child {
        height: 0;
    }
    @include min-screen(414px) {
        height: $h-spacing-xl;
    }
    @include max-screen(320px) {
        height: $h-spacing-md;
    }
}
