@import '../../styles/settings';

$baseClass: 'toxic-rate';

.#{$baseClass} {
  display: flex;
  cursor: pointer;

  .#{$baseClass}__icon {
    &:last-of-type {
      margin-right: 0 !important;
    }
  }
}
