@import '~@/_settings';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.logWrap {
    width: 40vmin;
    height: 40vmin;
    overflow: hidden;
}
.logo {
    width: 100%;
    height: 100%;
    animation: logo-spin infinite 20s linear;
}

.text {
    color: $base-text-color;
    font-size: calc(10px + 2vmin);
}

.link {
    color: #61dafb;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
