@import '../../styles/settings';

$baseClass: '#{$prefix}-navbar';

@mixin nav-title {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  color: $dark-text;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
}

@mixin nav-link {
  font-size: 14px;
  font-weight: 100;
  line-height: 21px;
  color: $info;
}

nav.#{$baseClass} {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $default;
  height: $navbar-height;
  width: 100%;
  border-bottom: 1px solid transparent;

  .#{$baseClass}__title {
    @include nav-title;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .#{$baseClass}__left,
  .#{$baseClass}__right {
    @include nav-link;
    display: flex;
    align-items: center;
    padding: 0 $space-lg;
    cursor: pointer;

    .toxic-icon__container {
      height: auto;
      width: auto;
      .toxic-icon {
        color: $info;
      }
    }
  }

  .#{$baseClass}__left {
    .toxic-icon {
      margin-right: $space-sm;
    }
  }
  .#{$baseClass}__right {
    .toxic-icon {
      margin-left: $space-sm;
    }
  }

  &__fixed {
    position: fixed;
    top: 0;
  }

  &__border {
    border-color: $grey-text;
  }

  .#{$baseClass}__text--left,
  .#{$baseClass}__text--right {
    font-weight: 300;
  }
}
